In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("CEL__contacts.csv")

### Configuraci칩n para que se muestren todas las columnas

In [3]:
pd.set_option("display.max_columns", 0)

In [4]:
df.head()

                Name Given Name  ... Custom Field 1 - Type Custom Field 1 - Value
0       游꽅Joseph RMS游꽅    游꽅Joseph  ...                   NaN                    NaN
1   AAAlberto Esposo  AAAlberto  ...                   NaN                    NaN
2  Aaron Sovero Boza      Aaron  ...                   NaN                    NaN
3               Abel       Abel  ...                   NaN                    NaN
4       Abel Jimenez       Abel  ...                   NaN                    NaN

[5 rows x 64 columns]

### Filtrar n칰meros telef칩nico de Per칰

In [5]:
filt_more_than_2 = df["Phone 1 - Value"].str.len() > 2
filt_51 = df["Phone 1 - Value"].str.startswith("+51")
filt_9 = df["Phone 1 - Value"].str.startswith("9")
filt_01 = df["Phone 1 - Value"].str.startswith("01")
filt_PE = filt_more_than_2 & (filt_51 | filt_9 | filt_01)

In [26]:
show_columns = ["Name", "Notes", "E-mail 1 - Value", "Phone 1 - Value", "Phone 2 - Value", "Organization 1 - Name", "Organization 1 - Title"]
peru = df.loc[filt_PE, show_columns]

### Negar el filtro u obtener resultados opuestos

In [27]:
df.loc[~filt_PE, show_columns].head()

                       Name  ... Organization 1 - Title
0              游꽅Joseph RMS游꽅  ...                    NaN
1          AAAlberto Esposo  ...                    NaN
4              Abel Jimenez  ...             Presidente
7          ADALBERTO ORTEGA  ...            Gte. Planta
8  Adrian Cordero Dominguez  ...                    NaN

[5 rows x 7 columns]

### Registros Peruanos

In [28]:
peru.columns = ["nombre", "notas", "email", "telefono_1", "telefono_2", "empresa", "cargo"]
peru.head()

                          nombre  ...      cargo
2              Aaron Sovero Boza  ...  Logistica
3                           Abel  ...        NaN
5                Abraham Alvarez  ...        NaN
6   Abuela Carlitos Mam치 Yahaira  ...        NaN
11           Agente De Carga Mar  ...        NaN

[5 rows x 7 columns]

In [29]:
company_filter = peru["empresa"].isnull()
con_empresa = peru.loc[~company_filter]

In [30]:
con_empresa.head()

               nombre  ...      cargo
2   Aaron Sovero Boza  ...  Logistica
3                Abel  ...        NaN
5     Abraham Alvarez  ...        NaN
15        Aldo Garcia  ...        NaN
16        Aldo Rendon  ...        NaN

[5 rows x 7 columns]

### Contactos sin empresa asignada

In [62]:
sin_empresa = peru.loc[company_filter]

In [63]:
peru.loc[503, "empresa"] = "SHP"
peru.loc[13, "empresa"] = "MISKIMAYO"
peru.loc[97, "empresa"] = "BLEXIM"
peru.loc[38, "empresa"] = "ABS"
peru.loc[109, "empresa"] = "COSAPI"
peru.loc[293, "empresa"] = "SHP"
peru.loc[450, "empresa"] = "SHP"
peru.loc[503, "empresa"] = "SHP"

### AGRUPA POR EMPRESA